<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Посты</title>
    <style>
        table {
             border-collapse: collapse;
        }
        th, td {
            border: 1px solid;
        }
    </style>
</head>

<body>
<h1>Пользователи</h1>
<p></p>
<form>
    <label for="pageSizeList">Количество постов на странице:</label>
    <select id="pageSizeList">
        <option>10</option>
        <option>20</option>
        <option>50</option>
    </select>
</form>
<p></p>
<label>Страница:
    <input type="text" min=1 name="pageNumber" pattern="\d+" value=1 size=10>
</label>
<p></p>
<form>
    <label for="tagList">Выберите тег:</label>
    <select id="tagList">
        <option value="0"></option>
        <option th:each="option : ${tags}" th:value="${option}" th:text="${option}"></option>
    </select>
</form>
<p></p>
<button>Добавить пост</button>
<p></p>
<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Текст</th>
        <th>Количество лайков</th>
        <th>Количество комментариев</th>
        <th>Теги</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.title}"></td>
        <td th:text="${item.message}"></td>
        <td th:text="${item.likes}"></td>
        <td th:text="${item.commentsCounter}"></td>
        <td th:text="${item.tagsCSV}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>