<!DOCTYPE html>

<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta>
    <title>Посты</title>
    <style>
        table {
             border-collapse: collapse;
        }
        th, td {
            border: 1px solid;
        }
    </style>
</head>

<body onload="selectItemTags()">
<h1>Пост</h1>

    <form id="itemForm">
        <label for="id"></label>
        <input type="text" id="id" name="id" th:value="${id}" hidden>

        <label for="title">Название</label>
        <input type="text" id="title" name="title" th:value="${title}" required>

        <p></p>
        <label for="message">Текст</label>
        <textarea rows="5" name="message" id="message" th:text="${message}"></textarea>

        <p></p>
        <label for="likes">Лайки</label>
        <input type="text" id="likes" name="likes" th:value="${likes}">
        <button id="addLikeButton" onclick="addLike()" type="button">Добавить</button>

        <p></p>
        <label for="itemSelectedTagsCsv">Выберите сущ. теги:</label>
        <select id="itemSelectedTagsCsv" name="itemSelectedTagsCsv" multiple size="6">
            <option th:each="option : ${allTags}" th:text="${option}"></option>
        </select>

        <p></p>
        <label for="itemNewTagsCsv">Добавьте новые теги через запятую:</label>
        <input type="text" id="itemNewTagsCsv" name="itemNewTagsCsv">

        <p></p>
        <button type="button" onclick="updateItem()">Сохранить</button>
    </form>

    <form th:action="${id}" method="post">
        <p></p>
        <input type="hidden" name="_method" value="delete">
        <button>Удалить</button>
    </form>

<p></p>
<h2>Комментарии</h2>
<table>
    <thead>
    <tr>
        <th>Текст</th>
        <th>Действия</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="comment : ${comments}">
        <td>
            <label>
                <textarea rows="3" th:text="${comment.message}"></textarea>
            </label>
        </td>
        <td>
            <form th:action="'/items/' + ${comment.itemId} + '/comments/' + ${comment.id}" method="post">
                <input type="hidden" name="_method" value="edit">
                <button type="submit">Сохранить</button>
            </form>
            <p></p>
            <form th:action="'/items/' + ${comment.itemId} + '/comments/' + ${comment.id}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script defer type="text/javascript" th:inline="javascript">
    var allTagsList = [[${allTags}]];
    var itemSelectedTagList = [[${itemSelectedTags}]];

    function selectItemTags() {
        const options = document.getElementById("itemSelectedTagsCsv").options;
        allTagsList.forEach((value, index) => {
            if (itemSelectedTagList.includes(value))
                options[index].selected = true;
            }
        );
    }

    function addLike() {
      let likes = Number(document.getElementById('likes').value);
      likes = likes + 1;
      document.getElementById('likes').value = likes;
    }

    function updateItem() {
        const itemForm = document.getElementById('itemForm');
        const formData = new URLSearchParams(new FormData(itemForm));

        fetch('/items/' + document.getElementById('id').value, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
            },
            body: formData
        });
        window.location.href = "/items";
    }

</script>

</body>
</html>

