<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новый пост</title>
</head>

<body>
<h1>Новый пост</h1>
<form action="" method="post">
    <p>
        <label for="title">Название:</label>
        <input id="title" type="text" name="title" size=30>
    </p>

    <p>
        <label for="message">Текст:</label>
        <textarea id="message" name="message" rows="10" cols="45"></textarea>
    </p>

    <p>
        <label for="tag">Теги:</label>
        <select id="tag" name="tag">
            <option>10</option>
            <option>20</option>
            <option>50</option>
        </select>
    </p>

    <p>
        <button>Сохранить</button>
    </p>
</form>
</body>
</html>